@import '../../styles/utils/vars';

.test {
  text-align: center;

  &__title {
    margin: 16px auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: $primary;
  }

  &__score {
    color: $green
  }

  &__button {
    margin-top: 44px;
    margin-bottom: 14px;
    background-color: $green;
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  
    border-radius: 26px;
    cursor: pointer;
  }
}

.question-card {
  margin: 0 auto;

  width: 50%;
  height: auto;

  background-color: $yellow;
  padding: 16px;
  border-radius: 16px;
  color: black;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}

.test__list {
  list-style: none;

  &__item {
    margin-top: 8px;
    background-color: lightgray;
    padding: 16px;
    border: 2px solid #d3d3d3;
    border-radius: 16px;
    font-size: 23px;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(230, 228, 228);
      transform: scale(1.01);

    }

    &:active {
      transform: scale(0.97);
    }
  }
}

.question-text {
  color: 	$blue;
  font-size: 34px;
}

.final-results {
  margin: 0 auto;

  width: 50%;
  height: auto;
  margin-top: 64px;

  background-color: $yellow;
  padding: 16px;
  border-radius: 16px;
  color: $primary;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
