@import '../../styles/utils/vars';

.page-not-found {
  margin: 56px 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: $primary;
}
