@import '../../styles/utils/vars';

.words-list {
  overflow: hidden;
  border: 1px solid #d3d3d3;
  width: 50%;
  margin: 5% auto 120px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: $primary;

  &__title {
    background-color: $yellow;

    &:first-child, &:last-child {
      border-radius: 5px;
    }

    &__text {
      padding-top: 22px; 
      text-shadow: 1px 1px 1px #fff;
    }
  }

  &__items {
    background-color: #fefdf9;

    &:first-child, &:last-child {
      border-radius: 5px;
    }

    &__text {
      border-top: 1px solid #d3d3d3; 
      border-right: 1px solid #d3d3d3;
    }
  }
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 18px 28px 18px; 
  text-align: center;

  &:last-child {
    width: 8px;
  }
}

.button-delete {
  width: 100%;

  border: none;
  background-color: #fefdf9;

  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.8);
  }
}
